.mainContent {
    padding: 0em 5em;
    margin: auto;
    max-width: 100em;
}

@media screen and (max-width: 2650px) {
    .mainContent {
        padding: 0em 5em;
        max-width: 110em;
    }
}
@media screen and (max-width: 1920px) {
    .mainContent {
        padding: 0em 5em;
        max-width: 85em;
    }
}
@media screen and (max-width: 1440px) {
    .mainContent {
        max-width: 60em;
    }
}
@media screen and (max-width: 1024px) {
    .mainContent {
        max-width: 45em;
    }
}
@media screen and (max-width: 768px) {
    .mainContent {
        padding: 0em 4em;
    }
}
@media screen and (max-width: 425px) {
    .mainContent {
        padding: 0em 0em;
    }
}
